{% extends 'base.html' %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/modal.css">
{% endblock %}
{% block body %}
  <div class="container container-fluid" id="myModal" class="modal">
    <div class="modal-content">
      <form id="form" method="post" action="/accountsetup/">
          <label for="gender"><h3>Gender</h3></label>
          <br />
          <input type="text" name="gender">
          <br />
          <label for="age"><h3>Age</h3></label>
          <br />
          <input type="number" name="age">
          <br />
          <label for="phone"><h3>Phone Number</h3></label>
          <br />
          <input type="tel" name="phone">
          <br />
          <label for="color"><h3>Favorite Color</h3></label>
          <br />
          <input type="text" name="color">
          <br />
          <label for="interests"><h3>Interests</h3></label>
          <br />
          <input type="text" name="interests">
          <br />
          <label for="hometown"><h3>Hometown</h3></label>
          <br />
          <input type="text" name="hometown">
          <br />
          <label for="submit"><h3></h3></label>
          <br />
          <input id="loginSubmit" class="btn btn-info" type="submit" value="Submit">
        </form> 
    </div>
  </div>
{% endblock %}
{% block script %}
<script>
function refresh() {
    this.reload(false);
}
</script>
{% if not authed %}
<script src="/static/loginModal.js"></script>
{% endif %}
{% endblock %}
