{% extends 'base.html' %}
{% block head %}
<style>
.link {
  stroke: #999;
  stroke-opacity: 0.8;
}

.node {
  stroke: black;
  stroke-width: 2px;
}

.node text {
  font: 32px helvetica;
}

body {
    margin: 0;
    background-color: lightblue;
}

svg {
    background-color: white;
}

#panel #bottom {
    margin: 0;
}

</style>
{% endblock %}
{% block script %}
<script src="https://d3js.org/d3.v3.min.js"></script>
<script type="application/json" id="data">
{
    "nodes": [
        {% for user in users %}
        {% if loop.last %}
        {"id":"{{ user[0] }}", "group":"{{ user[1] }}"}
        {% else %}
        {"id":"{{ user[0] }}", "group":"{{ user[1] }}"},
        {% endif %}
        {% endfor %}
    ],
    "links": [
        {% for src,targ in friends %}
        {% if loop.last %}
        {"source": {{ src }}, "target": {{ targ }}, "value": 10}
        {% else %}
        {"source": {{ src }}, "target": {{ targ }}, "value": 10},
        {% endif %}
        {% endfor %}

    ]
}    
</script>
<script>
// Utility for adding event handlers
var addEvent = function(object, type, callback) {
    if (object == null || typeof(object) == 'undefined') return;
    if (object.addEventListener) {
        object.addEventListener(type, callback, false);
    } else if (object.attachEvent) {
        object.attachEvent("on" + type, callback);
    } else {
        object["on"+type] = callback;
    }
};

d3.select("body").append("div")
    .attr("id", "panel")
    .attr("style", "float:right;display:inline-block")
    .attr("width", Math.max(140, window.innerWidth*0.2))
    .attr("height", window.innerHeight);

var panel = document.getElementById("panel");
panel.innerHTML = "<h3>Profile info goes here</h3>";


//Constants for the SVG
var width = window.innerWidth*0.8;
var height = window.innerHeight*0.8;

//Append a SVG to the body of the html page. Assign this SVG as an object to svg
var svg = d3.select("body").append("svg")
    .attr("style", "overflow:auto;")
    .attr("width", width)
    .attr("height", height)
    .call(d3.behavior.zoom().on("zoom", function () {
        svg.attr("transform", "translate(" + d3.event.translate + ")" + " scale(" + d3.event.scale + ")")
    }))
    .on("dblclick.zoom", null)
    .append("g");

//Set up the colour scale
var color = d3.scale.category20();

//Set up the force layout
var force = d3.layout.force()
    .charge(-120)
    .linkDistance(180)
    .size([width, height]);

var drag = force.drag()
    .on("dragstart", function() { d3.event.sourceEvent.stopPropagation(); })

var data = document.getElementById('data').innerHTML;
graph = JSON.parse(data);

//Creates the graph data structure out of the json data
force.nodes(graph.nodes)
    .links(graph.links)
    .start();

//Create all the line svgs but without locations yet
var link = svg.selectAll(".link")
    .data(graph.links)
    .enter().append("line")
    .attr("class", "link")
    .style("stroke-width", function (d) {
    return Math.sqrt(d.value);
});

var nodeRadius = 20;

//Do the same with the circles for the nodes
var node = svg.selectAll(".node")
    .data(graph.nodes)
    .enter().append("g")
    .attr("class", "node")
    .call(drag)
    .on('click', highlightNode)
    .on('dblclick', connectedNodes);

node.append("circle")
    .attr("r", nodeRadius)
    .style("fill", function (d) {
        if(d.id == clicked) {
            return color(7);
        }
        else {
            return color(d.group);
        }
    });

node.append("text")
    .attr("dx", nodeRadius + 4)
    .attr("dy", 10)
    .text(function(d) { return d.id })
    .style("stroke", "black");

var padding = 120, // separation between circles
    radius=nodeRadius;

function collide(alpha) {
  var quadtree = d3.geom.quadtree(graph.nodes);
  return function(d) {
    var rb = 2*radius + padding,
        nx1 = d.x - rb,
        nx2 = d.x + rb,
        ny1 = d.y - rb,
        ny2 = d.y + rb;
    quadtree.visit(function(quad, x1, y1, x2, y2) {
      if (quad.point && (quad.point !== d)) {
        var x = d.x - quad.point.x,
            y = d.y - quad.point.y,
            l = Math.sqrt(x * x + y * y);
          if (l < rb) {
          l = (l - rb) / l * alpha;
          d.x -= x *= l;
          d.y -= y *= l;
          quad.point.x += x;
          quad.point.y += y;
        }
      }
      return x1 > nx2 || x2 < nx1 || y1 > ny2 || y2 < ny1;
    });
  };
}

var clicked;
function highlightNode() {
    d = d3.select(this).node().__data__;
    clicked=d.id;
}
//Toggle stores whether the highlighting is on
var toggle = 0;
//Create an array logging what is connected to what
var linkedByIndex = {};
for (i = 0; i < graph.nodes.length; i++) {
    linkedByIndex[i + "," + i] = 1;
};
graph.links.forEach(function (d) {
    linkedByIndex[d.source.index + "," + d.target.index] = 1;
});
//This function looks up whether a pair are neighbours
function neighboring(a, b) {
    return linkedByIndex[a.index + "," + b.index];
}
function connectedNodes() {
    if (toggle == 0) {
        //Reduce the opacity of all but the neighbouring nodes
        d = d3.select(this).node().__data__;
        node.style("opacity", function (o) {
            return neighboring(d, o) | neighboring(o, d) ? 1 : 0.1;
        });
        link.style("opacity", function (o) {
            return d.index==o.source.index | d.index==o.target.index ? 1 : 0.1;
        });
        //Reduce the op
        toggle = 1;
    } else {
        //Put them back to opacity=1
        node.style("opacity", 1);
        link.style("opacity", 1);
        toggle = 0;
    }
}

//Now we are giving the SVGs co-ordinates - the force layout is generating the co-ordinates which this code is using to update the attributes of the SVG elements
force.on("tick", function () {
    link.attr("x1", function (d) {
        return d.source.x;
    })
        .attr("y1", function (d) {
        return d.source.y;
    })
        .attr("x2", function (d) {
        return d.target.x;
    })
        .attr("y2", function (d) {
        return d.target.y;
    });

    node.attr("cx", function (d) {
        if (d.group == 0) {
            return width/2;
        }
        return d.x;
    })
        .attr("cy", function (d) {
        if (d.group == 0) {
            return height/2;
        }
        return d.y;
    });

    node.each(collide(0.5));

    d3.selectAll("circle").attr("cx", function (d) {
        return d.x;
    })
        .attr("cy", function (d) {
        return d.y;
    });

    d3.selectAll("text").attr("x", function (d) {
        return d.x;
    })
        .attr("y", function (d) {
        return d.y;
    });
});


d3.select("body").append("div")
    .attr("id", "bottom")
    .attr("width", window.innerWidth)
    .attr("height", Math.max(90, window.innerHeight*0.2));

var bottom = document.getElementById("bottom");
bottom.innerHTML = "<h3>Privacy settings panel goes here</h3>";

</script>
{% endblock %}
