{% extends 'base.html' %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/modal.css">
{% endblock %}
{% block body %}
  <div id="myModal" class="modal">
    <div class="modal-content">
      <form id="form" method="post" action="/login/">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          {% for m in messages %}
          <p color="red">{{ m }}</p>
          {% endfor %}
          {% endif %}
          {% endwith %}
          <label for="name"><h3>Name</h3></label>
          <input type="text" name="name">
          <label for="password"><h3>Password</h3></label>
          <input type="password" name="password">
          <label for="submit"><h3></h3></label>
          <input id="loginSubmit" type="submit" value="Submit">
          <label for="register"></label>
          <input onclick="register()" id="registerSubmit" type="submit" value="Register">
        </form> 
    </div>
  </div>
  {% if authed %}
  <iframe width="100%" height="800px" src="/d3/"></iframe>
  <div>
    <a href="/logout/"><button>Logout</button></a>
  </div>
  {% endif %}
{% endblock %}
{% block script %}
<script>
function refresh() {
    this.reload(false);
}
function register() {
    var e = document.getElementById("form");
    e.action = "/register/";
    e.submit();
}
</script>
{% if not authed %}
<script src="/static/loginModal.js"></script>
{% endif %}
{% endblock %}
