{% extends 'base.html' %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/modal.css">
{% endblock %}
{% block body %}
{% if authed %}
<a href="/logout/"><button>Logout</button></a>
{% endif %}
  <div id="myModal" class="modal">
    <div class="modal-content">
      <form id="form" method="post" action="/login/">
          <label for="name"><h3>Name</h3></label>
          <input type="text" name="name">
          <label for="password"><h3>Password</h3></label>
          <input type="password" name="password">
          <label for="submit"><h3></h3></label>
          <input id="loginSubmit" type="submit" value="Submit">
          <label for="register"></label>
          <input onclick="register()" id="registerSubmit" type="submit" value="Register">
        </form> 
    </div>
  </div>
{% endblock %}
{% block script %}
<script>
function refresh() {
    this.reload(false);
}
function register() {
    var e = document.getElementById("form");
    e.action = "/register/";
    e.submit();
}
</script>
{% if not authed %}
<script src="/static/loginModal.js"></script>
{% endif %}
{% endblock %}
